.insight-landing-demo {
    &.type-01 {
        text-align: center;
        display: block;
        width: 100%;
        padding: 30px;
        .image {
            width: 100%;
            height: auto;
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                @include transit;
            }
        }
        .title {
            color: #424242;
            font-size: 18px;
            font-weight: 700;
            font-family: $font__second;
            margin-top: 20px;
            letter-spacing: .1em;
        }
        &:hover {
            .image {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    &.type-02 {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        .image {
            width: 100%;
            height: auto;
            margin: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
        .content {
            background-color: #fff;
            padding: 40px 15px;
            text-align: center;
            .title {
                color: #333;
                font-size: 24px;
                font-weight: 700;
                font-family: $font__second;
                letter-spacing: .05em;
            }
            .text {
                font-size: 15px;
            }
        }
    }
    &.type-03 {
        width: 100%;
        padding: 40px 30px;
        background-color: #fff;
        margin-bottom: 30px;
        display: table;
        min-height: 180px;
        .inner {
            display: table-row;
            .image {
                width: 30%;
                height: auto;
                box-sizing: border-box;
                display: table-cell;
                vertical-align: middle;
                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }
            }
            .content {
                display: table-cell;
                vertical-align: middle;
                padding-left: 30px;
                .title {
                    color: #333;
                    font-size: 24px;
                    font-weight: 700;
                    font-family: $font__second;
                    letter-spacing: .05em;
                }
                .text {
                    font-size: 15px;
                }
            }
        }
    }
    &.type-04 {
        width: 100%;
        padding: 15px;
        background-color: #f6f6f6;
        margin-bottom: 30px;
        display: table;
        min-height: 170px;
        .inner {
            display: table-row;
            .image {
                width: 30%;
                height: auto;
                box-sizing: border-box;
                display: table-cell;
                vertical-align: middle;
                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }
            }
            .content {
                display: table-cell;
                vertical-align: middle;
                padding-left: 30px;
                .title {
                    color: #333;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: $font__second;
                    letter-spacing: .05em;
                }
                .text {
                    font-size: 15px;
                }
            }
        }
    }
}
