.insight-about2 {
    margin-bottom: 30px;
    &--content--title h5 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 400;
        margin-top: 36px;
        margin-bottom: 11px;
    }
    &--main-img {
        position: relative;
        text-align: center;
        overflow: hidden;
        img {
            width: 100%;
            @include transit;
        }
        &--first-title {
            font-size: 48px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            height: 130px;
            width: 130px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            align-items: center;
            align-self: center;
            justify-content: center;
            display: flex;
            border: 3px solid #fff;
            z-index: 98;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #000;
            opacity: 0;
            @include transit();
            z-index: 97;
        }
    }
    &--content {
        text-align: center;
    }
    .link {
        font-size: 15px;
        margin-top: 24px;
        display: block;
        color: $color__primary;
        font-weight: bold;
        &:hover {
            color: #111;
        }
        span {
            margin-right: 7px;
        }
    }
    &.icon_on_small_image {
        .insight-about2--main-img {
            display: flex;
            max-width: 230px;
            height: 230px;
            border-radius: 50%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            align-self: center;
            .insight-about2--main-img--first-title {
                display: none;
            }
            &:before {
                border-radius: 50%;
            }
            img {
                height: auto;
                width: auto;
            }
        }
    }
    &:hover {
        .insight-about2--main-img {
            &:before {
                opacity: .2;
            }
            img {
                @include scale(1.2);
            }
        }
    }
}
