.insight-product-column {
    position: relative;
    .title {
        font-size: 24px;
        font-weight: 900;
        color: $color__dark-gray;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        padding: 0 50px 0 0;
        position: relative;
        margin-bottom: 40px;
    }
    .item {
        outline: none;
    }
    .content {
        position: static;
        .slick-prev, .slick-next {
            border-radius: 0;
            &:before {
                font-family: Ionicons;
                color: $color__dark-gray;
                opacity: .25;
                @include transit;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
        .slick-prev {
            top: 20px;
            right: 30px;
            left: auto;
            &:before {
                content: "\f3d2";
            }
        }
        .slick-next {
            top: 20px;
            right: 0;
            left: auto;
            padding-left: 5px;
            width: 25px;
            border-left: 1px solid #eeeeee;
            &:before {
                content: "\f3d3";
            }
        }
    }
    .product-item {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        .product-thumb {
            position: relative;
            width: 120px;
            height: auto;
            float: left;
            margin-right: 30px;
            img {
                width: 100%;
                padding: 20px 10px;
                height: auto;
                border: 1px solid #f8f7f7;
                @include transit;
            }
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
            &:before {
                border-top: 1px solid $color__primary;
                border-bottom: 1px solid $color__primary;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                z-index: 97;
            }
            &:after {
                border-right: 1px solid $color__primary;
                border-left: 1px solid $color__primary;
                -webkit-transform: scale(1, 0);
                transform: scale(1, 0);
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
                z-index: 97;
            }
            .woocommerce_loop_add_to_cart_span {
                z-index: 98;
                position: absolute;
                top: 60%;
                left: 50%;
                width: 48px;
                height: 48px;
                transform: translate(-50%, -50%);
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                opacity: 0;
                visibility: hidden;
                @include transit;
                a {
                    background-color: $color__primary;
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    line-height: 48px;
                    @include border-radius(24px);
                    display: block;
                    overflow: hidden;
                    font-size: 0;
                    &.wc-forward {
                        display: none;
                    }
                    &.add_to_cart_button {
                        &:before {
                            content: '\f3f8' !important;
                            color: #fff;
                            font-size: 18px;
                            width: 48px;
                            height: 48px;
                            line-height: 48px;
                            display: inline-block;
                            font-family: "Ionicons";
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                        }
                        &.loading {
                            &:before {
                                content: '\f459' !important;
                                animation: spinner 1.5s linear infinite !important;
                                -webkit-animation: spinner 1.5s linear infinite !important;
                            }
                        }
                        &.added {
                            &:before {
                                content: '\f3ff' !important;
                            }
                        }
                        &.product_type_variable {
                            &:before {
                                content: '\f4a6' !important;
                            }
                        }
                    }
                    &.product_type_simple {
                        &:before {
                            content: '\f39c';
                            font-family: Ionicons;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 400;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                        }
                    }
                }
            }
        }
        .product-info {
            display: inline-block;
            .product-title {
                display: block;
                font-size: 18px;
                font-family: $font__second;
                font-weight: 700;
                color: $color__dark-gray;
                position: relative;
                &:after {
                    content: '';
                    width: 30px;
                    height: 1px;
                    background-color: #e7e5e4;
                    left: 0;
                    bottom: 0;
                    display: block;
                    @include transit;
                }
                a {
                    color: $color__dark-gray;
                    display: block;
                    padding-bottom: 10px;
                }
            }
            .product-price {
                margin-top: 15px;
                display: block;
                color: #696969;
                font-weight: 700;
                font-style: italic;
                font-family: $font__second;
                line-height: 1;
                ins {
                    background: none;
                }
                del {
                    color: #cbcac8;
                    .amount {
                        color: #cbcac8;
                    }
                }
            }
            .product-rate {
                margin-top: 10px;
                display: block;
                .star-rating {
                    font-size: 16px !important;
                    overflow: hidden;
                    position: relative;
                    height: 1em;
                    line-height: 1;
                    font-size: 1em;
                    width: 83px;
                    margin-left: -3px;
                    &:before {
                        content: "\f3ae \f3ae \f3ae \f3ae \f3ae";
                        font-family: Ionicons;
                        letter-spacing: 3px;
                        padding: 0 3px;
                        color: #d3ced2;
                        float: left;
                        top: 0;
                        left: 0;
                        position: absolute
                    }
                    span {
                        color: #f5cc26;
                        overflow: hidden;
                        float: left;
                        top: 0;
                        left: 0;
                        position: absolute;
                        padding-top: 1.5em;
                        &:before {
                            content: "\f2fc \f2fc \f2fc \f2fc \f2fc";
                            font-family: Ionicons;
                            letter-spacing: 3px;
                            padding: 0 3px;
                            top: 0;
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
            .product-categories {
                margin-top: 10px;
                display: block;
                a {
                    display: inline-block;
                    padding: 0 10px;
                    background: #eeeeee;
                    @include border-radius(2px);
                    font-size: 12px;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $color__primary;
                        color: #fff;
                    }
                }
            }
            .product-badges {
                display: inline-block;
                width: 100%;
                text-align: left;
                height: 16px;
                line-height: 16px;
                left: 0;
                bottom: 0;
                z-index: 99;
                margin-top: 10px;
                .hot, .onsale, .new {
                    position: relative;
                    display: inline-block;
                    @include border-radius(8px);
                    text-transform: uppercase;
                    height: 16px;
                    line-height: 16px;
                    padding: 0 10px;
                    font-weight: 700;
                    margin: 0 4px 0 0;
                    color: #fff;
                    font-size: 12px;
                }
                .hot {
                    background: $color__hot;
                }
                .onsale {
                    background: $color__sale;
                    min-width: 48px;
                    min-height: 16px;
                    top: auto;
                    left: auto;
                }
                .new {
                    background: $color__new;
                }
            }
        }
        &:hover {
            .product-thumb {
                &:before, &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
                img {
                    opacity: .3;
                }
                .woocommerce_loop_add_to_cart_span {
                    top: 50%;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .product-info {
                .product-title:after {
                    width: 60px;
                    background-color: $color__primary;
                }
            }
        }
    }
}