.insight-single-quote {
    padding: 30px;
    width: 100%;
    background-color: #fff;
    .quote {
        margin-bottom: 30px;
        padding-top: 40px;
        font-size: 18px;
        font-style: italic;
        font-family: $font__second;
        color: #696969;
        line-height: 32px;
        position: relative;
        background-image: url('assets/images/testi_quote_bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('assets/images/testi_quote_1.png');
            background-repeat: no-repeat;
        }
    }
    .name {
        color: #333;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .tagline {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        font-family: $font__second;
        color: #696969;
    }

    &.cake-style {
        padding: 30px 80px;
        background: none;
        .quote {
            &:before {
                display: none;
            }
        }
    }
    &.plant-style {
        padding: 30px 0 30px 100px;
        background: none;
        .name, .tagline {
            display: inline-block;
        }
        .name {
            letter-spacing: 0.1em;
        }
        .quote {
            background-image: none;
            letter-spacing: 0.1em;
            &:before {
                display: none;
            }
        }
    }
}
