.vc_custom_heading {
    &.add-to-cart {
        a {
            padding-bottom: 5px;
            border-width: 0 0 1px 0 !important;
            border-style: solid !important;
            border-color: $color__primary;
        }
    }
    &.title-with-lines {
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
        a {
            position: relative;
            &:before, &:after {
                content: '';
                width: 1000px;
                height: 1px;
                background-color: #696969;
                display: block;
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 110%;
            }
            &:after {
                position: absolute;
                top: 50%;
                right: 110%;
            }
        }
    }
}